<div class="card">
    <div class="card-body">
        <div>Categoria: {{categoria.nome}}</div>
        <h1>{{postagem.titulo}}</h1>
        <small>{{postagem.data}}</small>
        <hr>
        <div>{{postagem.descricao}}</div>
        <div>{{postagem.conteudo}}</div>
    </div>
</div>